* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 1000;
    background-color: white;
}

.container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    text-align: center;
    align-items: center;
}

header span {
    color: rgb(75, 140, 238);
}

.nav-list {
    display: flex;
}

.nav-list .ul-lista {
    display: flex;
    list-style: none;
    gap: 20px;
}

.lista {
    font-size: 13px;
    opacity: 0.6;
}



main .section1 {
    min-height: 90vh;
    background-color: rgb(29, 29, 54);
    padding: 50px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}
.section1 .titulo-section1 {
    
    
    font-size: 40px;
    min-width: fit-content;
    color: white;
    
}

.section1 .contenido-section1 {
    
    
    color: white;
    opacity: 0.7;
    font-size: 15px;
    width: 75%;

}
.section1 .boton-section1{
    padding: 13px 20px;
    background-color:  rgb(65, 99, 248);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 13px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(28, 28, 66);
    color: white;
    font-size: 12px;
}
